//フォント関係の設定
// $font-base:;

//色関係の設定
    //サイトカラー
    $color-main: #f2f2f2;
    // $color-sub:;
    //フォントカラー
    $color-font: #333;
    $color-header: #fff;
    //リンクカラー
    $color-link: #fff;
    // 白色
    $color-white: #fff;
    // 黒色
    $color-black: #000;
    // fvカラー
    $color-fv: #222;
    // トピックカラー
    $color-topic:#cecece;

    // フッター
    $color-footer: #525252;

// フォント
    $font-en: 'Montserrat';
    $font-jp: 'Noto Sans JP';