/* ----------------------- */
/* company
/* ----------------------- */
.company-info-list{
    border-top:  1px solid #ddd;
    margin-bottom: 40px;
}

.company-info-item{
    display: flex;
    padding: 20px 0;
    max-width: 800px;
    margin-left: auto;
    border-bottom: 1px solid #ddd;
}

.company-info-title{
    font-weight: bold;
    flex-basis: 142px;
}

.maps-outer{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 32.7%;

    @include mq(sm){
        padding-top: 140%;
    }

    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}