.vision-wrapper{
    padding-left: 15.7vw;

    @include mq(sm){
        padding-left: 0;
    }
}

.vision-title{
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.vision-text{
    font-weight: bold;
    line-height: 2;
}