/* ----------------------- */
/* footer
/* ----------------------- */
.footer{
    background-color: $color-footer;
    color: $color-white;
    text-align: center;
    font-size: 1rem;
    line-height: 50px;
}